################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/CandidateMatch/bin
/CandidateMatch/obj
/CandidteMatch/obj
/CandidteMatch/bin/Debug/netcoreapp2.1
/CandidateMatch.Common/bin
/CandidateMatch.Common/obj
/CandidateMatch.Data/bin
/CandidateMatch.Data/obj